<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>SutroFM</title>
  <link href="https://fonts.googleapis.com/css?family=Space+Mono" rel="stylesheet" />
  <link rel="stylesheet" href="//www.radiojar.com/wrappers/api-plugins/v1/css/player.css" />
  <link rel="stylesheet" href="//www.radiojar.com/wrappers/api-plugins/v1/css/player.css">
  <link rel="stylesheet" href="styles.css" type="text/css">
</head>

<body>
  <div class="container site-content">
    <img src="https://i.imgur.com/cwavSww.png" class="text-center">
    <h6>Beta v 0.0.9 - Jul 2018</h6>
    <ul class="nav">
      <li class="nav__link"> | </li>
      <li class="nav__link"><a href="#">Schedule</a></li>
      <li class="nav__link"> | </li>
      <li class="nav__link"><a href="#">Show Archive</a><sup style="color: red;">Coming Soon</sup></li>
      <li class="nav__link"> | </li>
    </ul>
    <marquee behavior="scroll" direction="left" scrollamount="8"><p>Questions? Interested in hosting a show? <a href="mailto:mclausaudio@gmail.com?subject=SutroFM - admin">Contact us</a>.</p></marquee>
      <div class="row">
        <div id="rj-player">
          <div class="player-v3 player-medium">
            <div id="rj-cover">
              <a href="#"><img src=""/></a>
            </div>
            <div class="info">
              <div class="rjp-trackinfo-container">
                <h4 class="rjp-label">Now playing:</h4>
                <p id="trackInfo" class="rjp-info"></p>
              </div>
              <div class="rjp-player-container">
                <div id="rjp-radiojar-player"></div>
                <div id="rj-player-controls" class="rj-player-controls">
                  <div class="jp-gui jp-interface">
                    <div class="jp-controls">
                      <a href="javascript:;" style="display:block" class="jp-play" title="Play">&nbsp;<i class="icon-play"></i></a>
                      <a href="javascript:;" style="display:none" class="jp-pause" title="Pause"><i class="icon-pause"></i></a>
                      <a href="javascript:;" style="display:block" class="jp-mute" title="Mute"><i class="icon-volume-up"></i></a>
                      <a href="javascript:;" style="display:none" class="jp-unmute" title="Unmute"><i class="icon-volume-off"></i></a>
                      <div class="jp-volume-bar-wrapper">
                        <div class="jp-volume-bar">
                          <div class="jp-volume-bar-value"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="jp-no-solution">
                  <span>Update Required</span> To play the media you will need to either update your browser to a recent version or update your <a href="//get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container">
          <p>Listen to stream: <a href="http://stream.radiojar.com/sdak4d2ptceuv" target="_blank">http://stream.radiojar.com/sdak4d2ptceuv</a></p>
          <p>Listen to stream: <a href="http://stream.radiojar.com/sdak4d2ptceuv.m3u" target="_blank">http://stream.radiojar.com/sdak4d2ptceuv.m3u</a></p>
          <p>Listen to stream: <a href="http://stream.radiojar.com/sdak4d2ptceuv.pls" target="_blank">http://stream.radiojar.com/sdak4d2ptceuv.pls</a></p>
        </div>
      </div>
      <div class="row">
        <div>
          <div id="rjp-chat">
          </div>
        </div>
      </div>

      <div class="schedule-container container">
        <h1 class="text-center">Upcoming Shows:</h1>
        <div id="rj-schedule">
          <div id="rj-tabs">
            <ul class="rj-nav rj-nav-tabs" id="radio_schedule">
              <li class="active"><a href="#monday" data-toggle="tab">Monday</a></li>
              <li><a href="#tuesday" data-toggle="tab">Tuesday</a></li>
              <li><a href="#wednesday" data-toggle="tab">Wednesday</a></li>
              <li><a href="#thursday" data-toggle="tab">Thursday</a></li>
              <li><a href="#friday" data-toggle="tab">Friday</a></li>
              <li><a href="#saturday" data-toggle="tab">Saturday</a></li>
              <li><a href="#sunday" data-toggle="tab">Sunday</a></li>
            </ul>
            <div class="rj-tab-content">
              <div class="tab-pane active" id="monday">
                <ul class="itemlist schedule"></ul>
              </div>
              <div class="tab-pane" id="tuesday">
                <ul class="itemlist schedule"></ul>
              </div>
              <div class="tab-pane" id="wednesday">
                <ul class="itemlist schedule"></ul>
              </div>
              <div class="tab-pane" id="thursday">
                <ul class="itemlist schedule"></ul>
              </div>
              <div class="tab-pane" id="friday">
                <ul class="itemlist schedule"></ul>
              </div>
              <div class="tab-pane" id="saturday">
                <ul class="itemlist schedule"></ul>
              </div>
              <div class="tab-pane" id="sunday">
                <ul class="itemlist schedule"></ul>
              </div>
            </div>
          </div>
        </div>

      </div>


  </div>





  <!-- chat player -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="//www.radiojar.com/wrappers/api-plugins/v1/radiojar-min.js"></script>
  <script>
    rjq('#rjp-chat').radiojar('chatProvider', {
      streamname: "sdak4d2ptceuv",
      width: 600, // width of chat container in pixels (default is 700 pixels)
      height: 250, // height of chat container in pixels (default is 900 pixels)
      frameborder: false, // show frameborder or not (default is false)
      scrolling: "auto", // yes, no, auto (default is no)
      cssfile: "" // your own custom css file url
    });
  </script>
  <script>
    rjq('#rjp-radiojar-player').radiojar('player', {
      "streamName": "sdak4d2ptceuv",
      "enableUpdates": true,
      "defaultImage": "https://i.imgur.com/ZtIg9fn.png",
      "autoplay": true
    });
    rjq('#rjp-radiojar-player').off('rj-track-load-event');
    rjq('#rjp-radiojar-player').on('rj-track-load-event', function(event, data) {
      updateInfo(data);
      if (data.title != "" || data.artist != "") {
        rjq('.rjp-trackinfo-container').show();
        rjq('#trackInfo').html(data.artist + ' - "' + data.title + '"')
      } else {
        rjq('.rjp-trackinfo-container').hide();
      }
    });

    function updateInfo(data) {
      if (data.thumb) {
        rjq('#rj-cover').html('<a href="#"><img src="' + data.thumb + '" alt="" title="" /></a>')
      } else {
        rjq('#rj-cover').html('')
      }
    }
  </script>

  <script id="schedule_list_item" type="text/html">
    <li class="item item-show item-small" data-id="<%= sch.utc_from %>" style="background-image: url(//www.radiojar.com<%= sch.show_photo %>?resize=cover_small)">
      <div class="item-hostdjs">
        <span></span>
        <a href="<%= sch.dj_url %>" class="item-dj" title="<%= sch.dj_nickname %>">
          <% if (sch.dj_photo.indexOf('image')!=-1) { %>
            <div class="content">
              <img class="item-thumb" src="<%= sch.dj_photo %>" />
            </div>
            <% } %>
        </a>
      </div>
      <div class="overlay">
        <div class="content">
          <div class="item-showinfo">
              <h4 class="item-name"><%= sch.show_title %></h4>
              <h5 class="item-tagline"><%= sch.show_tagline %></h5>
          </div>
          <div class="item-schedule">
            <i class="icon-time"></i>
            <span class="localize-time" data-date='<%= sch.utc_from %>'></span> - <span class='localize-time' data-date='<%= sch.utc_to %>'></span>
          </div>
        </div>
    </li>
  </script>
  <script>
    rjq('#rj-schedule').radiojar('schedule', {
      streamName: "sdak4d2ptceuv"
    });
  </script>
</body>
<footer>
  <p>SutroFM - est. 2018 - Created and maintained by <a href="mailto:mclausaudio@gmail.com?subject=SutroFM - admin">Michael Claus</a></p>
</footer>

</html>
