
<html>

<head>
  <meta charset="UTF-8">
  <title>SutroFM</title>
  
  <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
  <link rel="stylesheet" href="styles.css" type="text/css" />
  <link href="https://fonts.googleapis.com/css?family=Space+Mono" rel="stylesheet"></link>
  <link rel="stylesheet" href="//www.radiojar.com/wrappers/api-plugins/v1/css/player.css" />
  <link rel="stylesheet" href="//www.radiojar.com/wrappers/api-plugins/v1/css/player.css">
</head>

<body>
<div class="container site-content">
    <img src="https://i.imgur.com/cwavSww.png" class="text-center">
      <h6>Beta v 0.0.9 - Jul 2018</h6>
          <ul  class="nav">
          <li class="nav__link"> | </li>
          <li class="nav__link"><a href="www.sutrofm.net" target="_blank">Home</a></li>
          <li class="nav__link"> | </li>
          <li class="nav__link"><a href="#">Show Archive</a><sup style="color: red;">Coming Soon</sup></li>
          <li class="nav__link"> | </li>
        </ul>
        <marquee behavior="scroll" direction="left" scrollamount="8">Questions? Interested in hosting a show? <a href="mailto:mclausaudio@gmail.com?subject=SutroFM - admin">Contact us</a>.</marquee>

        <div class="schedule-timetable container">
            <h3 class="schedule__week-title"><u>Week 8/5 - 8/11</u></h3>
<table border="1" class="schedule__week" style="width:100%">
  <tr>
    <th> Day/Time (PST) </th>  
    <th> Sunday </th>
    <th> Monday </th> 
    <th>   Tuesday   </th>
    <th> Wednesday </th>
    <th> Thursday </th>
    <th> Friday </th>
    <th> Saturday </th>
  </tr>
  <tr>
    <td>5p</td>
    <td>This Is Not A Seance</td> 
    <td> - </td>
    <td> - </td>
    <td> - </td>
    <td> - </td>
    <td> - </td>
    <td>DJ Justin Peoples</td>
  </tr>
    <tr>
    <td>6p</td>
    <td>This Is Not A Seance</td> 
    <td> - </td>
    <td> - </td>
    <td> - </td>
    <td> - </td>
    <td> - </td>
    <td>DJ Justin Peoples</td>
  </tr>
    <tr>
    <td>7p</td>
    <td> - </td> 
    <td> - </td>
    <td>The Seanco Show</td>
    <td> - </td>
    <td> - </td>
    <td> - </td>
    <td> - </td>
  </tr>
    <tr>
    <td>8p</td>
    <td>Silva Electronics Radio</td> 
    <td> - </td>
    <td>Plot Twist Radio w/ Sepehr</td>
    <td>Enchillada Radio w/ Seb Hall & Justin Peoples</td>
    <td>Brouhaha Radio</td>
    <td> - </td>
    <td> - </td>
  </tr>
    <tr>
    <td>9p</td>
    <td> - </td> 
    <td>Fantom FWD (featuring Equilet)</td>
    <td>Plot Twist Radio w/ Sepehr</td>
    <td> - </td>
    <td>Brouhaha Radio</td>
    <td>C.L.A.W.S</td>
    <td> - </td>
  </tr>
    <tr>
    <td>10p</td>
    <td> - </td> 
    <td> - </td>
    <td> - </td>
    <td> - </td>
    <td> - </td>
    <td>Surface Tension</td>
    <td> - </td>
  </tr>
    <tr>
    <td>11p</td>
    <td> - </td> 
    <td> - </td>
    <td> - </td>
    <td> - </td>
    <td> - </td>
    <td> - </td>
    <td> - </td>
  </tr>
    <tr>
    <td>12a</td>
    <td>The Creatrix</td> 
    <td> - </td>
    <td> - </td>
    <td> - </td>
    <td> - </td>
    <td> - </td>
    <td> - </td>
  </tr>
    <tr>
    <td>1a</td>
    <td>The Creatrix</td> 
    <td> - </td>
    <td> - </td>
    <td> - </td>
    <td> - </td>
    <td> - </td>
    <td> - </td>
  </tr>
</table>

            <h3 class="schedule__week-title"><u>Week 8/12 - 8/18</u></h3>
<table border="1"  class="schedule__week" style="width:100%">
  <tr>
    <th> Day/Time (PST) </th>  
    <th> Sunday </th>
    <th> Monday </th> 
    <th> Tuesday </th>
    <th> Wednesday </th>
    <th> Thursday </th>
    <th> Friday </th>
    <th> Saturday </th>
  </tr>
  <tr>
    <td>5p</td>
    <td>This Is Not A Seance</td> 
    <td> - </td>
    <td> - </td>
    <td> - </td>
    <td> - </td>
    <td> - </td>
    <td>DJ Justin Peoples</td>
  </tr>
    <tr>
    <td>6p</td>
    <td>This Is Not A Seance</td> 
    <td> - </td>
    <td> - </td>
    <td> - </td>
    <td> - </td>
    <td> - </td>
    <td>DJ Justin Peoples</td>
  </tr>
    <tr>
    <td>7p</td>
    <td> - </td> 
    <td> - </td>
    <td>The Seanco Show</td>
    <td> - </td>
    <td> - </td>
    <td> - </td>
    <td> - </td>
  </tr>
    <tr>
    <td>8p</td>
    <td>Silva Electronics Radio</td> 
    <td> They're Here Radio </td>
    <td> IPvX.FM w/ Vidiian </td>
    <td>Enchillada Radio w/ Seb Hall & Justin Peoples</td>
    <td>Brouhaha Radio</td>
    <td> - </td>
    <td> - </td>
  </tr>
    <tr>
    <td>9p</td>
    <td>The Black Lodge</td> 
    <td>They're Here Radio</td>
    <td> IPvX.FM w/ Vidiian </td>
    <td> CultFreq Radio</td>
    <td>Brouhaha Radio</td>
    <td> - </td>
    <td> - </td>
  </tr>
    <tr>
    <td>10p</td>
    <td>The Black Lodge</td> 
    <td> - </td>
    <td> Loren Steele & Ben Brown</td>
    <td> CultFreq Radio </td>
    <td> - </td>
    <td> - </td>
    <td> - </td>
  </tr>
    <tr>
    <td>11p</td>
    <td> - </td> 
    <td> God Hours w/ Rodney K </td>
    <td> - </td>
    <td> - </td>
    <td> - </td>
    <td> - </td>
    <td> - </td>
  </tr>
    <tr>
    <td>12a</td>
    <td> - </td> 
    <td> - </td>
    <td> - </td>
    <td> - </td>
    <td> - </td>
    <td> - </td>
    <td> - </td>
  </tr>
    <tr>
    <td>1a</td>
    <td> - </td> 
    <td> - </td>
    <td> - </td>
    <td> - </td>
    <td> - </td>
    <td> - </td>
    <td> - </td>
  </tr>
</table>
</div>




</div>
</body>
<script type="text/javascript" src="//www.radiojar.com/wrappers/api-plugins/v1/radiojar-min.js"></script>
<script id="schedule_list_item" type="text/html">
     <li class="item item-show item-small" data-id="<%= sch.utc_from %>" style="background-image: url(//www.radiojar.com<%= sch.show_photo %>?resize=cover_small)">
        <div class="item-hostdjs">
           <span></span>
           <a href="<%= sch.dj_url %>" class="item-dj" title="<%= sch.dj_nickname %>">
              <% if (sch.dj_photo.indexOf('image')!=-1) { %>
              <div class="content">
                 <img class="item-thumb" src="<%= sch.dj_photo %>" />
              </div>
              <% } %>
           </a>
        </div>
        <div class="overlay">
           <div class="content">
              <div class="item-showinfo">
               <a href="<%= sch.show_url %>">
                  <h4 class="item-name"><%= sch.show_title %></h4>
                  <h5 class="item-tagline"><%= sch.show_tagline %></h5>
              </a>
           </div>
           <div class="item-schedule">
              <i class="icon-time"></i>
              <span class="localize-time" data-date='<%= sch.utc_from %>'></span> - <span class='localize-time' data-date='<%= sch.utc_to %>'></span>
           </div>
        </div>
     </li>
  </script>
<script>
 rjq('#rj-schedule').radiojar('schedule', {
	streamName: "sdak4d2ptceuv"
 });
</script>

<footer>
  <p>SutroFM - est. 2018 - Created and maintained by <a href="mailto:mclausaudio@gmail.com?subject=SutroFM - admin">Michael Claus</a></p>
</footer>
</html>
