.container {
  max-width: 1000px;
  margin: auto;
}


.site-content {
  padding:2rem 0 2rem 0;
  background-color:white;
}

.player-medium {
  margin: auto !important;
}

.nav-link {
  padding:1rem;
}

.nav {
  display:flex;
}

.nav-ul {
  margin-left: auto !important;
  margin-right: auto !important;
}

* {
  font-family: 'Space Mono', monospace;
}
